@use '../../utils/' as * ;

  /*
 ::::::::::::::::::::::::::
  CONTACT AREA CSS
 ::::::::::::::::::::::::::
 */

 .contact-sec-single-bx {
  background-color: var(--vtc-bg-common-2);
  padding: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  transition: all .4s;
  &:hover {
    transform: translateY(-10px);
    transition: all .4s;
  }

  .icon {
    background-color: var(--vtc-bg-main2);
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
  }

  .heading {
    padding-left: 16px;
    h4 {
      color: var(--vtc-text-title3);
      font-size: var(--f-fs-font-18);
      font-style: normal;
      font-weight: var(--f-fw-semibold);
      line-height: var(--f-fs-font-18); /* 100% */
    }
    a {
      color: var(--vtc-text-pera1);
      font-size: var(--f-fs-font-16);
      font-style: normal;
      font-weight: var(--f-fw-medium);
      line-height: var(--f-fs-font-16); /* 100% */
      display: inline-block;
      padding-top: 10px;
      transition: all .4s;

      &:hover {
        transition: all .4s;
        color: var(--vtc-bg-main2);
      }
    }
  }
 }


 .contact-page-sec {
  .images {
    margin-right: 50px;
    margin-top: 60px;
    position: relative;
    z-index: 2;

    .shape {
      position: absolute;
      top: 60px;
      right: 50px;
      z-index: -1;
      transform: scale(1.5);

      @media #{$md} {
        display: none;
      }
      @media #{$xs} {
        display: none;
      }
    }
  }
 }

/*
 ::::::::::::::::::::::::::
  CONTACT AREA CSS
 ::::::::::::::::::::::::::
 */